$font-family: 'Roboto', arial;
$main-color: #13a3e0;
$secondary-color: #4747a5;
$background: white;

$color: black;
$color2: white;
$small-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

@mixin devices ($breakpoint) {
    //the name of the mixin is devices

    @if $breakpoint ==desktop {
        @media only screen and (min-width: 1000px) {
            @content;
        }
    }

    @if $breakpoint ==tablet {
        @media only screen and (max-width: 680px) {
            @content;
        }
    }

    @if $breakpoint ==mobile {
        @media only screen and (max-width: 481px) {
            @content;
        }
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: white;
}

h1 {
    margin-block: 1rem;
}

header {
    background-color: $main-color;
    display: flex;
    justify-content: center;

    h1 {
        margin-inline: auto;
    }

    @include devices(desktop) {
        background-color: white;
        justify-content: flex-start;

        h1 {
            margin-inline: 1rem;
            margin: 2rem;
            margin-bottom: 1rem;
        }
    }

    #hamburger-icon {
        color: $color;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        background-color: $main-color;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 6px 0 6px 6px;
        margin-bottom: auto;
        z-index: 100;

        @include devices(desktop) {
            display: none;
        }
    }
}

#desktop-menu {
    display: none;

    @include devices(desktop) {
        display: flex;
        padding: 1rem;
        display: flex;
        gap: 10px;
    }
}

.mobile-menu {
    //ul
    display: none;
    position: absolute;

    flex-direction: column;
    height: 40vh;
    width: 90vw;
    background-color: $background;
    padding-top: 110px;
    margin: 0;
    border-bottom: 5px solid $main-color;

    li {
        margin: 20px;
        margin-right: 25px;
        align-self: flex-end;

    }
}

.mobile-button {
    padding: 0.5rem;
    font-size: 2rem;
    border: 1px solid $main-color;
    background-color: $main-color;
}

.open {
    display: flex;
}

strong {
    color: $main-color
}

hr {
    border: 1px solid $main-color;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-options {
    p {
        margin:0;
    }
    @include devices(desktop) {
        max-width: 80vw;
        width: 100%;
        margin-block: 1rem;
    }
}

.book-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;

    width: 95vw;

    @include devices(desktop) {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        ;
        grid-auto-rows: 200px;
        gap: 15px;
        width: 80vw;
        align-self: center;
    }

    .container-item {
        border: 1px solid $color;
        border-radius: 8px;

        display: flex;
        flex-direction: column;

        .item-info {
            display: flex;
            flex-direction: column;
            padding: 0.5rem;

            h3 {
                margin: 10px;
                margin-inline: 0;
            }

            p {
                margin-top: 0;
            }
        }

        .item-image {
            display: flex;
            justify-content: center;
            height: 100%;

            img {
                width: 100px;
                object-fit: contain;
            }
        }
    }
}

footer {
    margin-top: auto;
    background-color: $main-color;
    padding: 1.5rem;
    color: $color2;
    display: flex;
    align-items: center;
    justify-content: center;
}