body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", arial;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}
@media only screen and (min-width: 1000px) {
  body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  }
}

h1 {
  margin-block: 1rem;
}

a {
  color: initial;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  padding: 8px 22px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  background-color: #1dc88a;
  display: flex;
  align-items: center;
}
button:hover {
  background-color: #179466;
}
button:active {
  transform: translateY(1px);
}
button.active {
  background-color: #179466;
}
button.btn2 {
  background-color: #3f65d4;
}
button.btn2:hover {
  background-color: #5d7cda;
}

#themeButton {
  padding: 5px;
  border-radius: 50%;
  background-color: black;
}

select {
  width: 200px;
  height: 30px;
  border: 1px solid #1dc88a;
  font-size: 1rem;
  font-weight: bold;
  color: #3f65d4;
  background-color: #eee;
}

label {
  font-size: 1rem;
}

header {
  background-color: #3f65d4;
  display: flex;
  justify-content: center;
}
header h1 {
  margin-inline: auto;
}
header .desktop-header {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
header .desktop-header .userCorner {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .desktop-header .userCorner img {
  height: 55px;
  width: auto;
  border-radius: 50%;
}
@media only screen and (min-width: 1000px) {
  header {
    background-color: white;
    justify-content: flex-start;
    grid-column: 2/span 1;
    grid-row: 1/1;
  }
  header h1 {
    text-align: center;
    margin-inline: 1rem;
    margin: 2rem;
    margin-block: 0;
    margin-top: 10px;
  }
  header h1::before {
    border: 1px solid black;
    content: "";
  }
  header .userControl img {
    height: 90px;
    width: auto;
    border-radius: 50%;
  }
}
header #hamburger-icon {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #3f65d4;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 6px 0 6px 6px;
  margin-bottom: auto;
  z-index: 100;
}
@media only screen and (min-width: 1000px) {
  header #hamburger-icon {
    display: none;
  }
}

#desktop-menu {
  display: none;
}
@media only screen and (min-width: 1000px) {
  #desktop-menu {
    display: flex;
    padding: 1rem;
    display: flex;
    gap: 10px;
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  height: 40vh;
  width: 90vw;
  background-color: white;
  padding-top: 110px;
  margin: 0;
  border-bottom: 5px solid #3f65d4;
}
.mobile-menu li {
  margin: 20px;
  margin-right: 25px;
  align-self: flex-end;
}

.mobile-button {
  padding: 0.5rem;
  font-size: 2rem;
  border: 1px solid #3f65d4;
  background-color: #3f65d4;
}

.open {
  display: flex;
}

.inactive {
  display: none !important;
}

strong {
  color: #3f65d4;
}

hr {
  border: 1px solid #3f65d4;
  width: 100%;
}

nav {
  display: none;
}
@media only screen and (min-width: 1000px) {
  nav {
    display: flex;
    grid-column: 1;
    grid-row: 1/3;
    width: 220px;
    border-right: 2px solid #3f65d4;
    font-size: 1.2rem;
    color: white;
    background-color: #3f65d4;
  }
  nav.navBar {
    display: flex;
    flex-direction: column;
  }
  nav.navBar .dashboardDiv {
    display: flex;
    padding-inline: 40px;
    margin: 0.5rem;
  }
  nav.navBar .dashboardDiv h2 {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  nav.navBar .dashboardDiv h2 span {
    font-size: 2.5rem;
  }
  nav.navBar ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
  }
  nav.navBar ul li a {
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0.5rem;
  }
  nav.navBar ul li:hover {
    background-color: #5d7cda;
    border-radius: 22px;
  }
}

@media only screen and (min-width: 1000px) {
  #content {
    grid-column: 2;
    grid-row: 2;
    padding: 1rem;
    background-color: #f1f2f5;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 1000px) {
  main {
    align-items: flex-start;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 6px;
  }
  main .mini-header {
    background-color: #f8f9fd;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 6px;
  }
  main .mini-header h1 {
    padding-left: 15px;
  }
}

.books-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding: 1rem;
}

.book-options {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
}
.book-options p {
  margin: 0;
}
.book-options form {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media only screen and (min-width: 1000px) {
  .book-options {
    width: 50%;
    margin-block: 1rem;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}

.book-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 10px;
  width: 95vw;
  scroll-behavior: auto;
}
@media only screen and (min-width: 1000px) {
  .book-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: auto;
    gap: 15px;
    width: 100%;
  }
}
.book-container .container-item {
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.book-container .container-item .item-info {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.book-container .container-item .item-info h3 {
  margin: 10px;
  margin-inline: 0;
}
.book-container .container-item .item-info p {
  margin: 0;
}
.book-container .container-item .item-image {
  display: flex;
  justify-content: center;
  height: 100%;
}
.book-container .container-item .item-image img {
  width: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}

/*PRESTAMOS PANTALLA*/
.prestamos-layout {
  display: flex;
  gap: 15px;
  padding: 1rem;
}

.prestamos-options {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 12px;
  height: 100%;
}
.prestamos-options h2 {
  margin: 0;
}
.prestamos-options ul {
  margin: 0;
  padding: 0;
}
.prestamos-options ul li {
  margin: 1rem;
}

.prestamos-buttons {
  display: flex;
  gap: 15px;
  margin: 10px;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
}
table thead tr {
  background-color: #1dc88a;
  color: #ffffff;
  text-align: left;
}
table th,
table td {
  padding: 12px 15px;
}
table tbody tr {
  border-bottom: 1px solid #dddddd;
}
table tbody tr.hoverable:hover {
  background-color: #f3f3f3;
}
table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
table tbody tr:last-of-type {
  border-bottom: 2px solid #1dc88a;
}
table tbody tr.active-row {
  font-weight: bold;
  color: #1dc88a;
}

.nuevo-prestamo,
.nuevo-devolucion,
#crearbook-screen,
.crearcliente-div {
  background-color: white;
  border: black 1px solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
.nuevo-prestamo span,
.nuevo-devolucion span,
#crearbook-screen span,
.crearcliente-div span {
  color: red;
}

.crearcliente-div h2 {
  margin-block: 5px;
}

.nuevo-devolucion {
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.form-data {
  display: flex;
  gap: 15px;
}
@media only screen and (max-width: 1170px) {
  .form-data {
    flex-direction: column;
    gap: 0px;
  }
}

.nuevo-prestamo-form,
.nuevo-devolucion-form,
#crear-book-form {
  display: flex;
  flex-direction: column;
}

.devolucion-form-structure {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

p {
  margin: 0;
  margin-top: 5px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-block: 10px;
}

.form-column {
  display: flex;
  flex-direction: column;
  margin-block: 5px;
}

.row-field {
  display: flex;
  flex-direction: column;
}

#new-descripcion {
  height: 50px;
  resize: none;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.login-screen {
  display: flex;
  width: 100%;
  justify-content: center;
}
.login-screen .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 2rem;
  background-color: white;
}
.login-screen .login-container h2 {
  margin-block: 5px;
}
.login-screen .login-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.login-screen .login-container form .login-row {
  display: flex;
  flex-direction: column;
}
.login-screen .login-container form span {
  color: red;
}

.filter-fecha {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 12px;
  margin: 1rem;
}
.filter-fecha form {
  display: flex;
  align-items: center;
  gap: 15px;
}

footer {
  margin-top: auto;
  background-color: #3f65d4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1000px) {
  footer {
    grid-column: 1/3;
    grid-row: 3;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1;
}/*# sourceMappingURL=style.css.map */