$font-family: 'Roboto', arial;
$main-color: #3f65d4;
$main-color-light: #5d7cda;
$secondary-color: #1dc88a;
$secondary-color-light: #179466;

$background: white;
$secondary-background: #f1f2f5;
$background-notorio: #f8f9fd;

$color: black;
$color2: white;
$small-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

@mixin devices ($breakpoint) {
    //the name of the mixin is devices

    @if $breakpoint ==desktop {
        @media only screen and (min-width: 1000px) {
            @content;
        }
    }

    @if $breakpoint ==tablet {
        @media only screen and (max-width: 1170px) {
            @content;
        }
    }

    @if $breakpoint ==mobile {
        @media only screen and (max-width: 481px) {
            @content;
        }
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: white;

    @include devices(desktop) {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
    }
}

h1 {
    margin-block: 1rem;
}

a {
    color: initial;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    padding: 8px 22px;
    color: $color2;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    background-color: $secondary-color;

    display: flex;
    align-items: center;

    &:hover {
        background-color: $secondary-color-light;
    }

    &:active {
        transform: translateY(1px);
    }

    &.active {
        background-color: $secondary-color-light;
    }

    &.btn2 {
        background-color: $main-color;

        &:hover {
            background-color: $main-color-light;
        }
    }
}

#themeButton {
    padding: 5px;
    border-radius: 50%;
    background-color: $color;
}

select {
    width: 200px;
    height: 30px;
    border: 1px solid $secondary-color;
    font-size: 1rem;
    font-weight: bold;
    color: $main-color;
    background-color: #eee;
}

label {
    font-size: 1rem;
}

header {

    background-color: $main-color;
    display: flex;
    justify-content: center;

    h1 {
        margin-inline: auto;
    }

    .desktop-header {
        width: 95%;
        display: flex;
        justify-content: space-between;

        .userCorner {
            display: flex;
            align-items: center;
            gap: 5px;

            img {
                height: 55px;
                width: auto;
                border-radius: 50%;
            }
        }

    }

    @include devices(desktop) {
        background-color: white;
        justify-content: flex-start;
        //grid-area: header;
        grid-column: 2 / span 1;
        grid-row: 1 / 1;

        h1 {
            text-align: center;
            margin-inline: 1rem;
            margin: 2rem;
            margin-block: 0;
            margin-top: 10px;

            &::before {
                border: 1px solid black;
                content: '';
            }
        }

        .userControl img {
            height: 90px;
            width: auto;
            border-radius: 50%;
        }
    }

    #hamburger-icon {
        color: $color;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        background-color: $main-color;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 6px 0 6px 6px;
        margin-bottom: auto;
        z-index: 100;

        @include devices(desktop) {
            display: none;
        }
    }
}

#desktop-menu {
    display: none;

    @include devices(desktop) {
        display: flex;
        padding: 1rem;
        display: flex;
        gap: 10px;
    }
}

.mobile-menu {
    //ul
    display: none;
    position: absolute;

    flex-direction: column;
    height: 40vh;
    width: 90vw;
    background-color: $background;
    padding-top: 110px;
    margin: 0;
    border-bottom: 5px solid $main-color;

    li {
        margin: 20px;
        margin-right: 25px;
        align-self: flex-end;

    }
}

.mobile-button {
    padding: 0.5rem;
    font-size: 2rem;
    border: 1px solid $main-color;
    background-color: $main-color;
}

.open {
    display: flex;
}

.inactive {
    display: none !important;
}

strong {
    color: $main-color
}

hr {
    border: 1px solid $main-color;
    width: 100%;
}

nav {
    display: none;

    @include devices(desktop) {
        display: flex;
        //grid-area: nav;
        grid-column: 1;
        grid-row: 1 / 3;
        width: 220px;
        border-right: 2px solid $main-color;
        font-size: 1.2rem;
        color: $color2;
        background-color: $main-color;

        &.navBar {
            display: flex;
            flex-direction: column;

            .dashboardDiv {
                display: flex;
                padding-inline: 40px;
                margin: 0.5rem;

                h2 {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    span {
                        font-size: 2.5rem;
                    }
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 1rem;

                li {
                    a {
                        color: $color2;
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        padding: 0.5rem;
                    }

                    &:hover {
                        background-color: $main-color-light;
                        border-radius: 22px;
                    }
                }
            }
        }
    }
}

#content {

    @include devices(desktop) {
        //grid-area: content;
        grid-column: 2;
        grid-row: 2;
        padding: 1rem;
        background-color: $secondary-background;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include devices(desktop) {
        align-items: flex-start;
        background-color: $background;
        border: 1px solid transparent;
        border-radius: 6px;

        .mini-header {
            background-color: $background-notorio;
            width: 100%;
            border: 1px solid transparent;
            border-radius: 6px;
            h1 {
                padding-left: 15px;
            }
        }
    }
}

.books-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 1rem;
}

.book-options {
    p {
        margin: 0;
    }

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap:5px;
    margin-bottom: 5px;

    form {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    @include devices(desktop) {
        width: 50%;
        margin-block: 1rem;
        align-self: flex-start;

        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
}

.book-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;

    width: 95vw;
    scroll-behavior: auto;

    @include devices(desktop) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: auto;
        gap: 15px;
        width: 100%;
    }

    .container-item {
        border: 1px solid $color;
        border-radius: 8px;

        display: flex;
        flex-direction: column;

        .item-info {
            display: flex;
            flex-direction: column;
            padding: 0.5rem;

            h3 {
                margin: 10px;
                margin-inline: 0;
            }

            p {
                margin: 0;
            }
            button {
                justify-content: center;
            }
        }

        .item-image {
            display: flex;
            justify-content: center;
            height: 100%;

            img {
                width: 120px;
                object-fit: contain;
            }
        }
    }
}

/*PRESTAMOS PANTALLA*/
.prestamos-layout {
    display: flex;
    gap: 15px;
    padding: 1rem;
}

.prestamos-options {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 12px;
    height: 100%;

    h2 {
        margin: 0;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            margin: 1rem;
        }
    }
}

.prestamos-buttons {
    display: flex;
    gap: 15px;
    margin: 10px;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;

    thead tr {
        background-color: $secondary-color;
        color: #ffffff;
        text-align: left;
    }

    th,
    td {
        padding: 12px 15px;
    }

    tbody tr {
        border-bottom: 1px solid #dddddd;

        &.hoverable:hover {
            background-color: #f3f3f3;
        }

        &:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        &:last-of-type {
            border-bottom: 2px solid $secondary-color;
        }

        &.active-row {
            font-weight: bold;
            color: $secondary-color;
        }
    }
}

.nuevo-prestamo,
.nuevo-devolucion,
#crearbook-screen,
.crearcliente-div,
.newuser-screen {
    background-color: $background;
    border: black 1px solid;
    width: fit-content;
    border-radius: 16px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;

    span {
        color: red;
    }
}

.crearcliente-div {
    h2 {
        margin-block: 5px;
    }
}

.nuevo-devolucion {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.form-data {
    display: flex;
    gap: 15px;

    @include devices(tablet) {
        flex-direction: column;
        gap: 0px;
    }
}

.nuevo-prestamo-form,
.nuevo-devolucion-form,
#crear-book-form,
#new-user-form {
    display: flex;
    flex-direction: column;
}

.devolucion-form-structure {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

p {
    margin: 0;
    margin-top: 5px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-block: 10px;
}

.form-column {
    display: flex;
    flex-direction: column;
    margin-block: 5px;
}

.row-field {
    display: flex;
    flex-direction: column;
}

#new-descripcion {
    height: 50px;
    resize: none;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login-screen {
    display: flex;
    width: 100%;
    justify-content: center;

    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        padding: 2rem;
        background-color: $background;

        h2 {
            margin-block: 5px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;

            .login-row {
                display: flex;
                flex-direction: column;
            }

            span {
                color: red;
            }
        }
    }

}

.filter-fecha {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 12px;
    margin: 1rem;

    form {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}

footer {
    margin-top: auto;
    background-color: $main-color;
    //padding: 1.5rem;
    color: $color2;
    display: flex;
    align-items: center;
    justify-content: center;

    @include devices(desktop) {
        // grid-area: footer;
        grid-column: 1/ 3;
        grid-row: 3;
    }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1
}